[Desktop Entry]
Name=Lumiscripta
Comment=Minimal Markdown viewer
Exec=lumiscripta %F
Icon=lumiscripta
Terminal=false
Type=Application
Categories=Office;TextEditor;
Keywords=markdown;viewer;
MimeType=text/markdown;text/x-markdown;
StartupWMClass=lumiscripta
